<h1>Tots els cotxes (BD)</h1>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Any</th>
        <th>Marca</th>
    </tr>

    {% for car in cars %}
        <tr>
            <td>{{ car.id }}</td>
            <td>{{ car.name }}</td>
            <td>{{ car.year }}</td>
            <td>{{ car.brand.name }}</td>
        </tr>
    {% endfor %}
</table>
