{% extends 'base.html.twig' %}
{% block body %}
    <h1>Llistat de cotxes</h1>
    {% for car in cars %}
        <p class="car-name {% if car.name == 'Toyota' %}important{% endif %}">
            {{ car.name }}
        </p>
    {% endfor %}
{% endblock %}
