<h1>Marques i cotxes</h1>

{% for brand in brands %}
    <h2>{{ brand.name }}</h2>

    {% if brand.cars|length == 0 %}
        <p>No hi ha cotxes per aquesta marca.</p>
    {% else %}
        <table border="1">
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Any</th>
            </tr>

            {% for car in brand.cars %}
                <tr>
                    <td>{{ car.id }}</td>
                    <td>{{ car.name }}</td>
                    <td>{{ car.year }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endfor %}
